* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333446;
  padding: 20px;
  color: #EAEFEF;
}

header {
  background-color: #7F8CAA;
  color: #EAEFEF;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  background-color: #B8CFCE;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card :hover{
  background-color: ##4b7c67;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #777;
}
